304 Response must include cache headers

According to the [RFC 7232 Section 4.1](https://www.rfc-editor.org/rfc/rfc7232#section-4.1):

> The server generating a 304 response **MUST** generate any of the following header fields that would have been sent in a 200 (OK) response to the same request: `Cache-Control`, `Content-Location`, `Date`, `ETag`, `Expires`, and `Vary`.

Currently `imgproxy` only sends `Date` and `ETag` headers in a 304 response.

The problem with this behavior is that because a 304 response doesn't contain `Cache-Control` header, some http clients could not cache the response at all in a local cache after receiving a 304 response, even if the original 200 response contained `Cache-Control: max-age=3600` header. The client will just send request for the same image again and again using `If-None-Match` header (and will continue to receive 304 responses).

So, basically after first 304 response the local http client's cache could be effectively disabled.

I tested this in last versions of Chrome, Opera and Firefox. All of them work fine. They cache `Cache-Control` header from the original 200 response and the fact that this header is absent in 304 response doesn't do anything bad (these browsers only send `If-None-Match` request once every `max-age` seconds and other times they correctly use the 200 response from a local cache).

So, maybe this issue is not a very big problem.

But still, some less popular http clients (not necessary browsers) could not do this and always use `Cache-Control` header from the last response. Also, if some client doesn't use `Cache-Control` header and does use only `Expires` header, the cached 200 request will be considered as staled by such client even if it will correctly merge headers from the received 304 response into cached 200 response (as spec says), because `Expires` date in a cached response is in the past.

The problem is also described in [this pretty old SO post](https://stackoverflow.com/questions/1587667/should-http-304-not-modified-responses-contain-cache-control-headers), so it describes the behavior of pretty old browsers that I suppose is changed afterwards (because I tested it and it looks like they work fine).

Anyway, I think it's better to return `Cache-Control` and `Expires` headers in addition to currently returning `Date` and `ETag` headers in 304 responses according to Section 4.1 of the spec.

Hey @xak2000! Added this to `v3.0.0.beta2` and `latest`.